html, body {
  margin: 0;
  padding: 0;
  color: #eee;
  background: #222;

  font-family: Helvetica, sans-serif;
}

.search-view {
  padding: 0;
  margin: 0;

  max-width: 475px;
  min-width: 475px;
  width: 475px;

  margin-left: auto;
  margin-right: auto;
}

.search-view form input {
  height: 28px;
  width: 100%;
  margin: 20px 0px;

  font-weight: bold;
  font-size: 18px;

  background: url('/assets/search_backup.png');
}

.player-view {
  position: relative;
  height: 28px;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 10px;
}

.player-view button {
  display: inline;
  width: 80px;
  height: 40px;
  font-size: 16px;
}

.selected {
  background-color: pink;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.song-list-item {
  width: 100%;
  height: 50px;
}

.song-title {
  max-width: 425px;
  float: left;
}

.song-timestamp {
  float: right;
}
