html, body {
  margin: 0;
  padding: 0;
  color: #f6f4da;

  background: #a88;
  background: #4a4444;

  font-family: "Roboto Condensed", Helvetica, sans-serif;

  background: url('/assets/dark_embroidery.png');
  background-repeat: repeat;

  height: 1920px;
  width: 100%;
}

.search-view {
  padding: 0;
  margin: 0;

  max-width: 378px;
  min-width: 378px;
  width: 378px;

  margin-left: auto;
  margin-right: auto;
}

#main-input {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 378px;
  margin: 20px 0px;

  font-weight: bold;
  font-size: 18px;

  color: #f6f4da;
  font-style: normal;

  /* background: url('/assets/search_backup.png'); */

  background-color: transparent;
  border-bottom: solid 1px lightblue;
  border-bottom: solid 1px #f6f4da;

  margin-bottom: 50px;
}

#main-input > * {
  height: 100%;
  font-size: 18px;
}

#main-input input {
  border: none;
  outline-style: none;

  width: 342px;
  font-family: "Roboto Condensed", Helvetica, sans-serif;

  background-color: transparent;
  color: #f6f4da;

  margin-left: 4px;
}

#main-input > input:focus {
}


#main-search-button {
  display: inline;

  background: #a88;
  background: #4a4444;
  background: transparent;
  color: #f6f4da;

  border: 1px solid white;
  border-radius: 6px;

  display: none;
}

.icon-search {
}

.selected {
  /*background-color: pink;*/
  color: lightblue;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item-container {
  display: inline-block;
  position: relative;
  /* max-width: 378px; */
  /* width: 378px; */

  max-width: 378px;
  width: 378px;

  height: 36px;
  margin-top: 6px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  border-bottom: 1px solid;
}

.list-item-container:last-child {
  border: none;
}

.list-item-container * {
  display: inline;
}

.song-list-item {
  font-size: 16px;
  width: 100%;
}

i {
  font-size: 24px;
}

.song-title {
  display: inline-block;
  margin-top: 6px;
  margin-left: 6px;
}

.song-timestamp {
  float: right;
  margin-top: 6px;
}

.list-item-player {
  float: left;
}

.list-item-buttons {
  display: none;
  float: right;
}
