
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-play:before { content: '\e801'; } /* '' */
.icon-pause:before { content: '\e802'; } /* '' */
.icon-stop:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-cancel-circled:before { content: '\e805'; } /* '' */
.icon-ok-circled:before { content: '\e806'; } /* '' */
.icon-plus-circled:before { content: '\e807'; } /* '' */
.icon-attention:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-star:before { content: '\e80a'; } /* '' */
.icon-spin3:before { content: '\e80b'; } /* '' */
.icon-mail:before { content: '\e80c'; } /* '' */
.icon-cog-alt:before { content: '\e80e'; } /* '' */
.icon-link:before { content: '\e80f'; } /* '' */
.icon-wrench:before { content: '\e811'; } /* '' */
.icon-thumbs-down:before { content: '\e812'; } /* '' */
.icon-thumbs-up:before { content: '\e813'; } /* '' */
.icon-to-start:before { content: '\e818'; } /* '' */
.icon-to-end:before { content: '\e819'; } /* '' */
.icon-fast-forward:before { content: '\e81a'; } /* '' */
.icon-fast-backward:before { content: '\e81b'; } /* '' */
.icon-video-1:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-attach:before { content: '\e81f'; } /* '' */
.icon-th-list:before { content: '\e822'; } /* '' */
.icon-menu:before { content: '\e829'; } /* '' */
.icon-block-1:before { content: '\e82a'; } /* '' */
.icon-list:before { content: '\e82b'; } /* '' */
.icon-users:before { content: '\e82e'; } /* '' */
.icon-cog:before { content: '\e82f'; } /* '' */
.icon-star-empty:before { content: '\e830'; } /* '' */
.icon-share-1:before { content: '\e831'; } /* '' */
.icon-link-1:before { content: '\e832'; } /* '' */
.icon-trash:before { content: '\e835'; } /* '' */
.icon-spin1:before { content: '\e837'; } /* '' */
.icon-user-times:before { content: '\e83b'; } /* '' */
.icon-user-plus:before { content: '\e83c'; } /* '' */
.icon-user:before { content: '\e83d'; } /* '' */
.icon-tag:before { content: '\e845'; } /* '' */
.icon-pencil:before { content: '\e846'; } /* '' */
.icon-desktop-1:before { content: '\e847'; } /* '' */
.icon-laptop:before { content: '\e848'; } /* '' */
.icon-tablet:before { content: '\e849'; } /* '' */
.icon-mobile:before { content: '\e84a'; } /* '' */
.icon-globe:before { content: '\e84b'; } /* '' */
.icon-minus:before { content: '\e855'; } /* '' */
.icon-floppy:before { content: '\e857'; } /* '' */